@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600&family=Overpass:wght@300&display=swap');

:root {
    /* Text Color */
    --very-dark-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --very-dark-greyish-blue: hsl(237, 12%, 33%);
    --dark-greyish-blue: hsl(237, 12%, 33%);

    /* Gradient */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /* Divider */
    --light-greyish-blue: hsl(240, 5%, 91%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Overpass', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    margin: auto;
}

.card {
    min-width: 88%;
    max-width: 90%;
    background: #fff;
    display: flex; 
    flex-direction: column;
    align-items: center;
    border-radius: 1.2rem;
    text-align: center;
    padding: 0 1.5rem 0;
    margin-bottom: 3rem ;
}

h1 {
    font-weight: 900;
    font-size: 2.4rem;
}

.card .image {
    position: relative;
}

.card .image .mobile {
    display: block;
    /* margin-top: -39%; */
    width: 90%;
    margin: -41% auto 5%;
}

.card .image .desktop, .card .image .desktop2, .card .image .desktop3 {
    display: none;
}


.bg-mobile {
    position: absolute;
    bottom: -1.5rem;
    left: 0.1rem;
}

.main-text {
    margin-top: 5em;
    margin-bottom: 2rem;
    max-width: 300px;
}

.header {
    text-align: left;
    padding: 1rem 0;
    border-bottom: 1px solid black;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.header-text {
    margin-right: 4px;
}

.header-text.bold {
    /* font-weight: 700; */
}

.header-text:hover {
    color: var(--soft-red);
    font-weight: 700;
}

.header.last-child {
    border-bottom: none;
}

.arrow.rotate {
    transform: rotate(180deg);
}

.body-text {
    padding: 1rem 0;
    text-align: left;
    font-size: 14px;
    /* word-break: keep-all; */
}


.body-text.hidden {
    display: none;
}

/* Media Queries */

/* Desktop mode */
@media (min-width: 650px) {
    main {
        width: 90%;
    }
    .card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90rem;
        padding-left: 0;
    }

    .card .image .mobile {
        /* width: 100%; */
        margin: 0;
        display: none;
    }

    .image {
        transform: translateX(0.4rem);
    }

    .card .image .desktop {
        display: block;
        width: 280px;
        margin-left: -70px;
    }

    .card .image .desktop2 {
        display: block;
        position: absolute;
        width: 5.3rem;
        bottom: 2rem;
        left: -4rem;
    }

    .card .image .desktop3 {
        display: block;
        width: 280px;
        position: absolute;
        bottom: -2rem;
        left: -4rem;
    }

    .bg-mobile {
        display: none;
    }

    .main-text {
        padding-right: 2rem;
        padding-left: 2rem;
        text-align: left;
    }

    .header-text {
        margin-right: 15px;
    }
}

/* Medium screens */

@media (min-width:970px) {
    .main-text {
        width: 600px;
    }

    .card .image .desktop, .card .image .desktop3 {
        width: 360px;
    }

    .card .image .desktop2 {
        width: 6.4rem;
        bottom: 2.8rem;
        left: -3.6rem;
    }
}

@media (min-width:720px) {
    .main-text {
        padding-right: 3px;
        width: 400px;
    }
}